// Text Colors
$mainTextColor: rgba(255, 255, 255, 0.75);
$lightTextColor: #ffffff;

// Background Colors
$lightBgColor: #ffffff;
$darkBgColor: rgba(255, 255, 255, 0.05);
$mainBgColor: #1b2316;

// Fonts
$mainFontFamily: "Inter", "Open Sans", sans-serif;
$basicFontSize: 24px;

//  Container
$containerPadding: 45px;
$containerWidth: calc(1620px + ($containerPadding * 2));

//  Transitions
$basicTransTime: 0.3s;

// Paddings & Margins
$mainPadding: 1rem;
$mainMargin: 1rem;
$mainGap: 33px;

// Medias
$mediaPC: 1400px;
$mediaSmallPC: 1200px;
$mediaTablet: 992px;
$mediaSmallTablet: 768px;
$mediaMobile: 576px;
$mediaSmallMobile: 320px;
