// Text Colors
$mainTextColor: #000000;
$linkTextColor: #00636d;
$lightTextColor: #ffffff;

// Background Colors
$lightBgColor: #ffffff;
$darkBgColor: #73e5ff;
$footerBgColor: #e4e4e4;

// Fonts
$mainFontFamily: "OpenSans", "Open Sans", sans-serif;
$basicFontSize: 16px;

//  Container
$containerPadding: 16px;
$containerWidth: calc(1400px + ($containerPadding * 2));

//  Transitions
$basicTransTime: 0.3s;

// Paddings & Margins
$mainPadding: 1rem;
$mainMargin: 1rem;
$mainGap: 1rem;

// Medias
$mediaPC: 1400px;
$mediaSmallPC: 1200px;
$mediaTablet: 992px;
$mediaSmallTablet: 768px;
$mediaMobile: 576px;
$mediaSmallMobile: 320px;
