@use "../bootstrap" as b;
@use "../components/card";

.review {
}
.container {
}
.review__container {
}
.title {
}
.review__title {
}
.slider {
}
.review__slider {
}
.slider__cards {
}
.card {
}
.slider__card {
}
.card__img-wrapper {
}
.card__title {
}
.card__tag-title {
}
.card__descr-wrapper {
}
.card__descr {
}
.card__buying {
}
.button--rect {
}
.card__button {
}
.card__number {
}
.button {
}
.slider-mini__left {
}
.slider-mini__left-img {
}
.card__number-info {
}
.card__number-prev {
}
.card__number-next {
}
.slider-mini__right {
}
.slider-mini__right-img {
}
.slider__bottom-buttons {
}
.bottom-button {
}
.bottom-button--active {
}
