@use "../bootstrap" as b;
@use "../ui/buttons";

.trendy {
}

.container {
}
.trendy__container {
}

.trendy__title {
    font-size: calc(1rem * (55px / b.$basicFontSize));
    color: b.$lightTextColor;
    font-weight: 600;
}

.trendy__cards {
}
.card {
}

.trendy-card {
    flex-direction: row;
    max-width: unset;
    width: 100%;
    aspect-ratio: unset;
    max-height: calc(1rem * (526px / b.$basicFontSize));

    &::before {
        content: "";
        filter: none;
        background: url("../../img/hero-bigCard_bg.png") center / 100% 100%
            no-repeat;
        border-radius: calc(1rem * (24px / b.$basicFontSize));
        backdrop-filter: blur(5px);

        @media (max-width: b.$mediaMobile) {
            border-radius: 0rem;
        }
    }

    .card__img-wrapper {
        flex-basis: 40%;
        left: 0;
        top: unset;
        bottom: 0;
        translate: 0 0;
        margin-top: 0;
    }

    .card__descr {
        font-size: calc(1rem * (20px / b.$basicFontSize));
    }
}

.card__info {
    flex-basis: 60%;
}
.card__title {
}

.card__link {
}

.card__descr {
    position: relative;
    font-size: calc(1rem * (24px / b.$basicFontSize));
    font-weight: 400;
    z-index: 1;
}

.card__descr--white,
.card__title--white {
    color: b.$lightTextColor;
}

.card__price {
    position: relative;
    font-size: calc(1rem * (38px / b.$basicFontSize));
    color: b.$lightTextColor;
    font-weight: 600;
    z-index: 1;
}

.card__buttons {
}
.button--rect {
}
.card__button {
}
.button--square {
}
.button-image {
}
